.bookPageHeader {
  padding: 2.5em 10%;
}
.darkTitle {
  color: black !important;
}

.backLink {
  color: mediumseagreen;
  font-size: 1.75em;
  cursor: pointer;
  margin-top: 1em;
  text-decoration: none;
  font-weight: bolder;
}
